@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff2") format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff") format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff2") format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff") format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff2") format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff") format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.woff2") format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.woff") format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.ttf") format("truetype");
}
