@import "@/styles/mixins.scss";

.shell {
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    padding: 0px 10px;
    width: 100%;
    max-width: var(--max-width);
    flex-direction: column;
  }
}
