.shell {
  text-align: center;
  font-size: var(--text-size-2);
  color: var(--dark-gray-color);
  margin-top: calc(var(--default-spacing) * 2);

  &__term {
    display: block;
    font-size: var(--text-size-4);
    color: var( --blue-color);
    font-weight: bold;
  }
}
